<h1 class="title">CSS Selectors</h1>
<ol class="breadcrumb">
  <li class="active">Rules for styling nodes</li>
</ol>
<div class="section">

  <h1 class="section-title">Debugging in Chrome</h1>
  <h2></h2>
  <pre class="prettyprint linenums">
  </pre>

  <h1 class="section-title">Base Tags and Classes</h1>
  <h2></h2>
  <pre class="prettyprint linenums">
  </pre>

  <h1 class="section-title">Ids and Classes</h1>
  <h2></h2>
  <pre class="prettyprint linenums">
  </pre>

  <h1 class="section-title">Nesting and Modules</h1>
  <h2></h2>
  <pre class="prettyprint linenums">
  </pre>

  <h1 class="section-title">States; styling a button</h1>
  <h2></h2>
  <pre class="prettyprint linenums">
  </pre>

  <h1 class="section-title">Conflict Resolution</h1>
  <h2></h2>
  <pre class="prettyprint linenums">
  </pre>

  <h1 class="section-title">Debugging in Chrome</h1>
  <h2></h2>
  <pre class="prettyprint linenums">
  </pre>

  <h2>Exercise #1: The Basics</h2>
  <p>Try out <a href="http://jsfiddle.net/dv99v/1/" target="_blank">this JSFiddle exercise</a> and see if you can fill in the JavaScript to pass all the tests.  (bonus points if you pass the bonus tests)</p>
  <p>And if you had time still, try this <a href="http://jsfiddle.net/eRm26/" target="_blank">secondary exercise</a></p>
    
  <h2>All Done?</h2>
  <a href="/jsadvlesson" class="btn btn-primary">Continue</a>
</div>
