<div id="banner">
  <h1>CS 247: HTML CSS Tutorial</h1>
  <h2>TA's: Jim, Emily, Roshan</h2>
</div>

<div id="intro">
  <div class="section">
    <h2>Goals</h2>
    <ul>
      <li>HTML / CSS Syntax</li>
      <li>Animation and Clicking</li>
      <li>Beyond the Basics</li>
    </ul>
  </div>
  <div class="section">
    <h2>Procedure</h2>
    <ol>
      <li>Content run-through (~7 min)</li>
      <li>Demo, learn to debug. (~5 min)</li>
      <li>Build Your Portfolio. Ask questions! (1+ hr)</li>
    </ol>
  </div>
  <hr/>
  <div class="section">
    <h2>Sections</h2>
    <br/>
    <h4><a href="/html">HTML Structure</a></h4>
    <h4><a href="/css-selectors">CSS Selectors</a></h4>
    <h4><a href="/css-position">CSS Positioning</a></h4>
    <h4><a href="/animation">Animation Basics</a></h4>
    <h4><a href="/grids">Grids</a></h4>
  </div>
</div>
